body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background: #f8f8f8;
    /* overflow: hidden; */
}

button {
    color: black;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

/* Toolbar */
.toolbar {
    /* position: sticky; */
    top: 0;
    /* z-index: 2000; */
    background: rgba(16, 10, 1, 0.85);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.lang-btn {
    background: #eee;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.2);
}

.lang-btn.active {
    background: #222;
    color: white;
}

.logo img {
    object-fit: contain;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.infoBox {
    display: flex
}


.card-box {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    height: min-content;
    width: 100%;
    /* justify-content: center;
    align-items: center; */

}



.card-box img {
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: 600px; */
    height: 200px;
    object-fit: cover;
}

.main-content {
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.itemName {
    font-size: 16px;
}

.itemPrice {
    font-size: 14px;
    font-weight: bold;
    /* border-style:solid ;
    border-color: black; */
}

.itemKcal {
    font-size: 14px;
    /* font-weight: bold; */
    font-style: italic;
    /* border-style:solid ;
    border-color: black; */
}

.spacer {
    width: 50px;
    border-style: solid;
    border-color: black;
}

.info-box {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* border-style:solid ;
    border-color: black; */


    /* gap: 50px; */
    /* min-width: 200px; */



}


.menu-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* width: 100%; */
    /* justify-content: space-between; */
    /* border-style:solid ;
    border-color: black; */
}

.back-btn {
    position: absolute;
    /* left: */
    top: 125px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    left: 20px;
    border-radius: 50px;
    border-color: white;
    background-color: white;
    color: black;
    border-color: transparent;
    /* padding-top: 10px; */
    /* font-size: 30px; */
    z-index: 3;
    padding: 0px;

}

.itemDescription {
    /* overflow: auto; */
    word-wrap: break-word;
    overflow-wrap: break-word;
}